# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://tbtybmmpzxbcciyzgqna.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_5nOlwARhIKGxcViE1oHbqw_l6TNIYKi
SUPABASE_SERVICE_ROLE_KEY=sb_secret_aeRdBJD95AMwrRUz2f2q_Q_Quu4uSkI

# Telegram Bot
TELEGRAM_BOT_TOKEN=8793428016:AAG3U_67cdRS7gDfSkkjxUk2d-AFiTryUO8

# Cron Job Security
CRON_SECRET=45g1d1gfhgj569g4h9t8r41h958ft1h95f1h6f5d
